*$py.class
*.cfg
*.coverage
*.db
*.egg
*.egg-info
*.log
*.orig
*.pyc
*.pyo
*.swo
*.swp
*.tox
*.zip
*~
.*.swp
.cache/
.coverage
.eggs/
.tox/
pyramid_simpleform.egg-info/
__pycache__/
build/
coverage*.xml
data
dist
dist/
docs/_build
docs/output
env*/
nosetests.xml
pytest*.xml
