*.coverage
*.egg-info
*.egg
*.log
*.pyc
*.db
*.swp
*.swo
*.zip
*.orig
*.cfg
*.tox
*$py.class

*~


dist
data
build
docs/output
docs/_build
docs/_themes

nosetests.xml
pyramid_simpleform/coverage.xml

env26/
.tox/
coverage.xml
